.container{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
 .questions{
justify-content: center;
    width: 33vw;
}
.fillIn{
    max-width: 33vw;
    width: 31.5vw;
    
} 
.answers{
    width: 33vw;
    justify-content: center;
} 
#fname{
    display: flex;
    justify-content: center;
}
.butt{
    
}
h1{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
}
input[type="text"] {
    width: 30.75vw;
    font-size: 17.4px;
    min-height: 17.4px
}
.review{
    display: flex;
    justify-content: center;
    width: 33vw;
    min-height: 20px;
    position:absolute;
    top: 0px;
    right: 0px;
}
li{
    min-height: 20px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    border: solid;
    font-size: 16px;
    padding: 2px;
    
list-style-type:none;
}
